.testimonials{
    padding:100px 8%;
    background:
    linear-gradient(135deg,#fff7fb,#ffffff);
}


.testimonial-title{
    text-align:center;
    margin-bottom:60px;
}


.testimonial-title h2{
    font-size:50px;
    font-family:serif;
    color:#d63384;
    letter-spacing:1px;
}


.testimonial-title p{
    color:#777;
    font-size:18px;
}


.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.testimonial-card{

    background:white;
    padding:35px 25px;

    text-align:center;

    border-radius:30px;

    box-shadow:
    0 15px 40px rgba(214,51,132,0.15);

    transition:.4s;
}


.testimonial-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 25px 55px rgba(86, 2, 44, 0.773);
}


.stars{
    font-size:22px;
    margin-bottom:20px;
}


.testimonial-card p{
    color:#641818;
    line-height:1.7;
}


.testimonial-card h3{
    color:#d63384;
    margin-top:20px;
}


@media(max-width:900px){

.testimonial-grid{
    grid-template-columns:1fr;
}

}